@model AIS.Entities.Discipline

@{
    ViewBag.Title = "Delete";
}

<h2>Удаление информации о дисциплине</h2>

<h3>Вы точно хотите удалить информацию о данной дисциплине?</h3>
<div>
    <h4>Дисциплина: @Model.Title</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Наименование дисциплины
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Назад", "Index", new { }, new { @class = "btn btn-outline-secondary" }) |
            <input type="submit" value="Удалить" class="btn btn-danger" />
        </div>
    }
</div>
