@model IEnumerable<AIS.Entities.Discipline>

@{
    ViewBag.Title = "Index";
}

<h2>Управление данными дисциплин</h2>

<p>
    @Html.ActionLink("Добавить новую дисциплину", "Create", new { }, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            Наименование дисциплины
        </th>
        <th>Управление</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.IdDiscipline }, new { @class = "btn btn-outline-primary btn-sm" }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.IdDiscipline }, new { @class = "btn btn-outline-danger btn-sm" })
        </td>
    </tr>
}

</table>
