@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">Как с нами связаться?</h2>
    <h3>Это наши контакты:</h3>

    <address>
        <p>
            <strong>Техническая поддержка:</strong> Катаев Максим Дмитриевич - email: <a href="mailto:kataevmd@edu54.ru">kataevmd@edu54.ru</a><br />
        </p>
    </address>
</main>